.cart {
    padding: var(--padding);
    gap: 1rem;
  }
  .cartItems {
    flex: 1;
  }
  .cart .card {
    margin-bottom: 1rem;
  }
  .cartItemsAction {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cartItem input {
    flex: 0.1;
  }
  .cartItemImg {
    flex: 0.2;
    width: 15rem;
    height: 10rem;
  }
  .cartItemDescription {
    flex: 0.4;
  }
  .cartItemShipping {
    margin-top: 0.5rem;
    color: red;
  }
  .cartItemActions {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .cartPayment {
    flex: 1;
  }
  .cartPaymentSummary > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }
  .cartPaymentBtn {
    width: 100%;
  }
  .cartPaymentMethods > h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .cartPaymentMethods > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }