.productDetailsLeft {
    flex: 1;
}
.productDetailsImg {
    height: 25rem;
    width: 30rem;
}
.productDetailsRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.productDetails{
    min-height: 60dvh;
}
.productDescription{
    text-align: justify;
    margin-right: 3rem;
}